
<div *ngIf="clickbuttonEventData.Open==true" #chat class="customizer border-left-blue-grey border-left-lighten-4 d-none d-sm-none d-md-block" [ngClass]="{open: clickbuttonEventData.Open}">
    <a class="customizer-close" (click)="closeCustomizer()">
      <i class="ft-x font-medium-3"></i>
    </a>
    <a class="customizer-toggle colortogg" id="customizer-toggle-icon" (click)="toggleCustomizer()">
      <i class="icon-emoticon-smile font-medium-4 fa fa-spin white align-middle" style="margin-top:15px"></i>
    </a>
    
 
    <div class="chat-messages">
      <div class="leng">
        <div class="chat-name p-2 ">
          <div class="media">
            <span class="chat-app-sidebar-toggle  " (click)="onSidebarToggle()"></span>
            <div class="media-body "  fxLayout="row">
              <!-- [src]= {{url}}{{clickbuttonEventData.image}} -->
              <div class="chat-avatar">
                <a class="avatar" data-toggle="tooltip"  title="" data-original-title="">
              <img src={{url}}{{clickbuttonEventData.image}} id="avatar" class="width-50"/>
            </a>
          </div>&nbsp;
          <div >
              <span  style=" color:#ff5722; "  class="fname" >{{clickbuttonEventData.first_name}} </span>
              <span  style="color:#ff5722;"> {{clickbuttonEventData.last_name}}</span>
            </div>
          </div>
          </div>
        </div>
      </div>
 <!-- <div  class="lengo"></div> -->
        <div class="chat-messages-show-container">
      <!--     <div class="chat-avatar">
            <a class="avatar" data-toggle="tooltip"  title="" data-original-title="">
              <img src={{url}}{{clickbuttonEventData.image}} id="avatar" class="width-50" alt="avatar" />
            </a>
          </div> -->
          <ul class="chat-messages-show-list " >
            <div *ngFor="let chat of chats">
              <div *ngIf="chat.professionnel== clickbuttonEventData._id ">
              <div *ngFor="let cha of chat.messages">
             
            <div style="margin-left:150px ;">
            <li *ngIf="cha.avatar=='left'" style=" margin:10px ; color:white; background-color: #ff5424; padding:15px 30px; text-align: right;">{{cha.message}}</li>
          </div>
          <div style="margin-right:150px ;">
            <li *ngIf="cha.avatar=='right'" style=" margin:10px ;  background-color: white; padding:15px 30px; text-align: left;">{{cha.message}}</li>
          </div>
        </div>
          </div></div>
          </ul>
          <ul class="chat-messages-show-list " id="message-list">
          </ul>
        </div>
       <!--  <div class="chat-messages-create-container"> 
          <input class="chat-messages-create-input" type="text"  [(ngModel)]="message">
          <button  class="chat-messages-create-button" (click)="SendMessage()"> Send </button>
        </div> -->
        <section class="chat-app-form bg-blue-grey bg-lighten-5">
          <form class="chat-app-input row mt-2">
            <fieldset class="form-group position-relative has-icon-left col-lg-10 col-8 m-0 px-3">
              <div class="form-control-position">
              <!--   <i class="icon-emoticon-smile"></i> -->
              </div>
              <input type="text" class="form-control hgmrg" id="iconLeft4" placeholder="Type your message"  (keydown.enter)="SendMessage();$event.preventDefault()"
              #messageInput>
              <div class="form-control-position control-position-right">
                <i class="ft-image mr-1"></i>
              </div>
            </fieldset>
            <fieldset class="form-group position-relative has-icon-left col-lg-2 col-4 m-0">
              <button type="button" class="btn-first btn-submit full-width btn-height btn-width wdtmrg" (click)="SendMessage()">
                <i class="fa fa-paper-plane-o d-block d-xl-inline-block d-lg-none p-0"></i>
                <span class="d-none d-lg-inline-block ml-1 ">Send</span>
              </button>
            </fieldset>
          </form>
        </section>
      </div>
   <!-- <h2> {{clickbuttonEventData.titre}}</h2> -->
  
  </div>

  <app-details-annonce (clickbuttonEvent)="clickbuttonEventData=$event"></app-details-annonce>

 

