<!-- 
<div class="container" fxLayout="column" fxLayoutAlign="center">

  <div fxFlex fxFlexAlign="center"

  class="autocomplete-container"
>
<mat-google-maps-autocomplete (onAutocompleteSelected)="onAutocompleteSelected($event)"
                             (onLocationSelected)="onLocationSelected($event)"
                             (onGermanAddressMapped)="onGermanAddressMapped($event)">
</mat-google-maps-autocomplete>
</div>
  <div fxFlex>
    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
      <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
    </agm-map>
  </div>

 

</div>


<mat-card>
  <mat-card-title>Auto Parse Address</mat-card-title>
  <mat-card-content>

    <mat-search-google-maps-autocomplete appearance="outline"
                                         country="tn"
                                         (onGermanAddressMapped)="onGermanAddressMapped($event)">
    </mat-search-google-maps-autocomplete>
  </mat-card-content>
</mat-card> -->


<!-- 
<button type="button" class="btn btn-raised btn-primary px-4 mb-0"  (click)="openModal(addAnnonce)" >
    <i class="ft ft-plus-circle d-lg-none d-xl-inline-block"></i>
 -->
 <div class="row">
  <!--    <div class="col-6 mt-3 mb-1 text-left">
       <div class="content-header">Gestion des annonces </div>
       <p class="content-sub-header">Consulter et gérer vos annonces facilement.</p>
     </div> -->
    <!--  <div class="col-6 mt-3 mb-1 text-right">
       <img src="https://www.flaticon.com/svg/static/icons/svg/3310/3310176.svg" height="75px" width="75px">
     </div> -->
 
     
     <nav aria-label="breadcrumb">
       <ol class="breadcrumb">
         <!-- <li class="breadcrumb-item">Annonces</li> -->
         <li class="breadcrumb-item active" aria-current="page"><a routerLink="/annonces">Liste des annonces</a></li>
       </ol>
     </nav>
   </div>
   <section >
     <div >
       <div class="card-body pt-3 text-left">
 
         <form class="taskboard-app-input row">
           <fieldset class="position-relative has-icon-left col-md-8 col-12 mb-1">
             <!-- <h4 class="card-title">Liste des annonces</h4> -->
 
 
 
           </fieldset>
           <fieldset class="position-relative has-icon-left col-md-9 col-12 mb-1">
             <div class="position-relative has-icon-right">
               <input type="text" class="form-control round" placeholder="Chercher une annonce"
               [(ngModel)]="annonceValue" name="annonceValue">
               <div class="form-control-position">
                   <i class="ft-search"></i>
               </div>
           </div>
           </fieldset>
 
           <fieldset *ngIf='user.role=="Profesional"' class="position-relative has-icon-left col-md-3 col-12 mb-1 add-task-btn">
 <!--             <button type="button" class="btn btn-raised btn-primary px-4 mb-0"  (click)="openModal(addAnnonce)" > -->
               <button type="button" class="btn btn-raised btn-primary px-4 mb-0"  (click)="lgModal.show()">
               <i class="ft ft-plus-circle d-lg-none d-xl-inline-block long"></i>Nouvelle annonce
               <!-- <span class="d-lg-inline-block d-none ml-1" >Ajouter annonce</span> -->
             </button>
           </fieldset>
         </form>
       </div>
     </div>
   </section>
 <button class="btn btn-primary" (click)="lgModal.show()">Large modal</button>

 <section id="shopping-cart">
  <div class="row text-left">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Annonces</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <table     class="table table-responsive-md text-center">
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Titre</th>
                  <th>Catégorie</th>
                  <th>Prix</th>
                  <th>Addresse</th>
                  <th>Superfecie</th>
                  <th>Status</th>
                  <th>Actions</th>
                 
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let annonce of annonces ">
               <td><img class="media-object round-media" src="http://localhost:5000/annonce/getFile/{{
                annonce?.fileimages[0]
              }}" alt="Generic placeholder image"
                      style="height: 75px;" /></td>
                  <td> {{annonce.titre}}</td>
                  <td>{{annonce.categorie}}</td>
                  <td>{{annonce.prix}}</td>
                  <td>{{annonce.addresse.ville}}</td>
                  <td>{{annonce.superfecie}}</td>
          
               <td>
                    <button *ngIf='annonce.Status==false && user.role=="Admin"' (click)='publishAnnonce(annonce._id)' class="btn btn-raised btn-round btn-danger">En attente</button>
                    <a *ngIf='annonce.Status==true && user.role=="Admin"'class="btn btn-raised btn-round btn-success">Publié</a>
                    <a  *ngIf='annonce.Status==true && user.role=="Profesional"' class="btn btn-outline-success mr-1">Publié</a>
                    <a *ngIf='annonce.Status==false && user.role=="Profesional"' class="btn btn-outline-warning mr-1">En attente</a>
                  </td> 
                
                 
                  <td >
                    <a routerLink="/annonces-details/{{annonce._id }}" class="info p-0" data-original-title="" title="">
                  <i class="ft-file-text font-medium-3 mr-2  IconDetails"  title="Détails"></i> 
                      <!-- <i class="fa-info-square font-medium-2 mr-2"></i> -->
                    </a>
              <!--       <a  (click)="openModal(updateAnnoncee); getAnnonceById(annonce._id) " class="success p-0" data-original-title="" title="">
                      <i  *ngIf='user.role=="Profesional"' class="fas fa-edit font-medium-3 mr-2 IconToAcceptDemande" title="Modifier"></i>
                    </a> -->
                    <a (click)='deleteAnnonce(annonce._id)' class="danger p-0" data-original-title="" title="">
                      <i class="fas fa-trash-alt font-medium-3 mr-2 IconToDeleteDemande" title="Supprimer"> </i>
                    
                    </a>
                  </td>
                </tr>
         
  
          <!--       <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><button class="btn btn-success btn-raised">Continue</button> </td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div style="float: right">
  <pagination-controls (pageChange)="pa = $event"></pagination-controls>
</div>
 
 <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
      role="dialog" aria-labelledby="dialog-sizes-name1">
   <div class="modal-dialog modal-lg">
     <div class="modal-content">
       <div class="modal-header">
         <h4 id="dialog-sizes-name1" class="modal-title pull-left">Ajouter annonce</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close"> 
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
    
                <mat-horizontal-stepper [linear]="isLinear" #stepper>
          
                  <mat-step [stepControl]="firstFormGroup" label="Infos annonce">
                      <form [formGroup]="firstFormGroup">
                        <ng-template matStepLabel>Infos annonce</ng-template>
                        <div class="row">
                          <div class="col-md-3">
                            <mat-form-field>
                              <mat-label>Titre</mat-label>
                              <input matInput placeholder="Titre"  id="titre" [(ngModel)]="form.titre" [ngModelOptions]="{standalone: true}" 
                             >
                            </mat-form-field>
                     
                          </div>
                          <div class="col-md-1"></div>
                       
                          <div class="col-md-3">
                            <mat-form-field>
                              <mat-label>Type</mat-label>
                              <!-- <input matInput placeholder="Type d'abonnement" [ngModelOptions]="{standalone: true}"  [(ngModel)]="form.type_abonnement"  #tp="ngModel" required> -->
                              <mat-select  [(ngModel)]="form.type" [ngModelOptions]="{standalone: true}"    name="type" required>
                                <mat-option *ngFor="let type of types" [value]="type.value"   >
                                  {{type.viewValue}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>

                          <div class="col-md-1"></div>
                     
                          <div class="col-md-3">
                            <mat-form-field>
                              <mat-label>Prix</mat-label>
                              <input matInput placeholder="Prix " type="number"[ngModelOptions]="{standalone: true}" [(ngModel)]="form.prix"    #e="ngModel" required>
                            </mat-form-field>
                            <div *ngIf="e.invalid && e.touched">
                              <mat-error *ngIf="e.errors.required">
                                Prix is required
                                </mat-error>
                                </div>
                          </div>
              
                          <div class="col-md-1"></div>                             
                        </div>
                      
                        <div class="row">
    
  
                          <div class="col-md-1"></div>
     
                        </div>

                        <div class="row">
                          <div >
                            <mat-form-field  style="width: 720px;">
                              <mat-label>Description</mat-label>
                              <textarea matInput   rows="10" cols="100" placeholder="Description"  [ngModelOptions]="{standalone: true}" [(ngModel)]="form.description"    #d="ngModel" required></textarea>
                            </mat-form-field>
                          </div>
  
                       



                          <div class="col-md-1"></div>
     
                        </div>

                        <div class="col-md-1"></div>
                        <div>
                          <button mat-button matStepperNext>Suivant</button>
                        </div>
                      </form>
                    </mat-step>
                    <mat-step [stepControl]="secondFormGroup" label="Détails annonce">
                      <form [formGroup]="secondFormGroup">
                    
              
                        <div class="row">
                          <div class="col-md-3">
                            <mat-form-field>
                              <mat-label>Superfecie</mat-label>
                              <input type="number" matInput placeholder="Superfecie"  [ngModelOptions]="{standalone: true}" [(ngModel)]="form.superfecie"   
                              required>
                            </mat-form-field>
                     
                          </div>
                          <div class="col-md-1"></div>
                       
                          <div class="col-md-3">
                            <mat-form-field>
                              <mat-label>Chambres</mat-label>
                              <!-- <input matInput placeholder="Type d'abonnement" [ngModelOptions]="{standalone: true}"  [(ngModel)]="form.type_abonnement"  #tp="ngModel" required> -->
                              <mat-select  [(ngModel)]="form.nbre_chambres" [ngModelOptions]="{standalone: true}"    name="chambre" required>
                                <mat-option *ngFor="let chambre of chambres" [value]="chambre.value"   >
                                  {{chambre.viewValue}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>

                          <div class="col-md-1"></div>
                   
                          <div class="col-md-3">
                            <mat-form-field>
                              <mat-label>SDB</mat-label>
                              <!-- <input matInput placeholder="Type d'abonnement" [ngModelOptions]="{standalone: true}"  [(ngModel)]="form.type_abonnement"  #tp="ngModel" required> -->
                              <mat-select  [(ngModel)]="form.pieces_salleBain" [ngModelOptions]="{standalone: true}"    name="sdb" required>
                                <mat-option *ngFor="let sdb of salleBains" [value]="sdb.value"   >
                                  {{sdb.viewValue}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>

                          <div class="col-md-1"></div>                             
                        </div>
                      
                        <div class="row">
                        
                           
                         
                            <mat-label>Catégorie</mat-label>
                        
                            <div   id="outer">   
                          <mat-radio-group aria-label="Select an option"  [ngModelOptions]="{standalone: true}" [(ngModel)]="form.categorie"  required>
                            <div  class="inner">  <mat-radio-button (click)="getAppartementOptions()" value="appartement">Appartement </mat-radio-button></div>&nbsp;&nbsp;&nbsp;
                            <div  class="inner"> <mat-radio-button (click)="getMaisonOptions()" value="maison">Maison</mat-radio-button></div>&nbsp;&nbsp;&nbsp;
                            <div  class="inner"><mat-radio-button (click)="getTerrainOptions()" value="terrain">Terrain</mat-radio-button></div>&nbsp;&nbsp;&nbsp;
                          </mat-radio-group>

                        </div>
                    
                        
     
                        </div>

                        <div class="row">
                         
  
                          <div class="col-md-3" *ngIf="model.appartement==true">
                            <mat-form-field>
                              <mat-label>Etage</mat-label>
                              <input type="number" matInput placeholder="Etage"  [ngModelOptions]="{standalone: true}" [(ngModel)]="form.etage"   
                              required>
                            </mat-form-field>
                     
                          </div>


                          <div  *ngIf="model.terrain==true" >
                          <mat-label>Usage</mat-label>
                        
                          <div   id="outer">   
                        <mat-radio-group aria-label="Select an option"  [ngModelOptions]="{standalone: true}" [(ngModel)]="form.categorie"  required>
                          <div  class="inner">  <mat-radio-button value="appartement">Habitation </mat-radio-button></div>&nbsp;&nbsp;&nbsp;
                          <div  class="inner"> <mat-radio-button value="maison">Commercial</mat-radio-button></div>&nbsp;&nbsp;&nbsp;
                        </mat-radio-group>

                      </div>
                    </div>

                          <div class="col-md-1"></div>
     
                        </div>
                        <div class="col-md-3 marg ">
                          <mat-label>Images</mat-label>
                        <label class="btn btn-default size">
                          <input type="file" multiple (change)="recuperFile($event)" />
                        </label>
                      </div>
                        <div class="col-md-1"></div>
  
                        
                        <div>
                          <button mat-button matStepperPrevious>Retour</button>
                          <button mat-button matStepperNext>Suivant</button>
                        </div>
                      </form>
                    </mat-step>

                    <mat-step  label="Commodités">
                      <div class="row marg">
                        <mat-checkbox class="example-margin" [(ngModel)]="climatisation">Climatisation</mat-checkbox>&nbsp;&nbsp;&nbsp;
                        <mat-checkbox class="example-margin" [(ngModel)]="meuble">Meuble</mat-checkbox>&nbsp;&nbsp;&nbsp;
                        <mat-checkbox class="example-margin" [(ngModel)]="ascenseur">Ascenseur</mat-checkbox>&nbsp;&nbsp;&nbsp;
                        <mat-checkbox class="example-margin" [(ngModel)]="jardin">Jardin</mat-checkbox>&nbsp;&nbsp;&nbsp;
                        </div>
                        <div class="row marg">
                        <mat-checkbox class="example-margin" [(ngModel)]="cuisine">Cuisine equipé</mat-checkbox>&nbsp;&nbsp;&nbsp;
                        <mat-checkbox class="example-margin" [(ngModel)]="parking">Parking</mat-checkbox>&nbsp;&nbsp;&nbsp;
    
                      </div>
                        
                      <div>
                            <button mat-button matStepperPrevious>Retour</button>
                            <button mat-button matStepperNext>Suivant</button>
                          </div>
                     
                      </mat-step>
                   <mat-step  label="Addresse">
                    <div class="row">
                    <div class="col-md-3">
                      <mat-form-field>
                        <mat-label>Région</mat-label>
                        <!-- <input matInput placeholder="Type d'abonnement" [ngModelOptions]="{standalone: true}"  [(ngModel)]="form.type_abonnement"  #tp="ngModel" required> -->
                        <mat-select  [(ngModel)]="addresse.region" [ngModelOptions]="{standalone: true}" id="region"  (selectionChange)='onChangeRegion($event)' name="region" required>
                          <mat-option *ngFor="let region of regions" [value]="region.value"   >
                            {{region.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-3" *ngIf='selectedRegion=="ben arous"' >
                      <mat-form-field >
                        <mat-label>Ville</mat-label>
                        <!-- <input matInput placeholder="Type d'abonnement" [ngModelOptions]="{standalone: true}"  [(ngModel)]="form.type_abonnement"  #tp="ngModel" required> -->
                        <mat-select  [(ngModel)]="addresse.ville" [ngModelOptions]="{standalone: true}"    name="villearous" required>
                          <mat-option *ngFor="let villearous of villesBenArous" [value]="villearous.value"   >
                            {{villearous.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

         
                    <div class="col-md-3" *ngIf='selectedRegion=="manouba "' >
                      <mat-form-field >
                        <mat-label>Ville</mat-label>
                        <!-- <input matInput placeholder="Type d'abonnement" [ngModelOptions]="{standalone: true}"  [(ngModel)]="form.type_abonnement"  #tp="ngModel" required> -->
                        <mat-select  [(ngModel)]="addresse.ville" [ngModelOptions]="{standalone: true}"    name="villemanouba" required>
                          <mat-option *ngFor="let villemanouba of villesManouba" [value]="villemanouba.value"   >
                            {{villemanouba.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                
                    <div class="col-md-3"*ngIf='selectedRegion=="tunis "' >
                      <mat-form-field >
                        <mat-label>Ville</mat-label>
                        <!-- <input matInput placeholder="Type d'abonnement" [ngModelOptions]="{standalone: true}"  [(ngModel)]="form.type_abonnement"  #tp="ngModel" required> -->
                        <mat-select  [(ngModel)]="addresse.ville" [ngModelOptions]="{standalone: true}"    name="villetunis" required>
                          <mat-option *ngFor="let villetunis of villesTunis" [value]="villetunis.value"   >
                            {{villetunis.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>


             
                    <div class="col-md-3" *ngIf='selectedRegion=="ariana "'>
                      <mat-form-field >
                        <mat-label>Ville</mat-label>
                        <!-- <input matInput placeholder="Type d'abonnement" [ngModelOptions]="{standalone: true}"  [(ngModel)]="form.type_abonnement"  #tp="ngModel" required> -->
                        <mat-select  [(ngModel)]="addresse.ville" [ngModelOptions]="{standalone: true}"    name="villeariana" required>
                          <mat-option *ngFor="let villeariana of villesAriana" [value]="villeariana.value"   >
                            {{villeariana.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  
                
                  </div>

                  <div class="row">
                    <div class="col-md-3" >
                      <mat-form-field>
                        <mat-label>Rue</mat-label>
                        <input type="text" matInput placeholder="Rue"  [ngModelOptions]="{standalone: true}" [(ngModel)]="addresse.rue"   
                        required>
                      </mat-form-field>
               
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-3" >
                      <mat-form-field>
                        <mat-label>Code postal</mat-label>
                        <input type="number" matInput placeholder="Code postal"  [ngModelOptions]="{standalone: true}" [(ngModel)]="addresse.code_postal"   
                        required>
                      </mat-form-field>
               
                    </div>
                  </div>
               <!--      <div class="container" fxLayout="row" fxLayoutAlign="space-around center">

                      <div  fxFlex="40"
                    
                      class="autocomplete-container"
                    >
                    <mat-google-maps-autocomplete (onAutocompleteSelected)="onAutocompleteSelected($event)"
                                                 (onLocationSelected)="onLocationSelected($event)"
                                                 (onGermanAddressMapped)="onGermanAddressMapped($event)">
                    </mat-google-maps-autocomplete>
                    </div>
                      <div  fxFlex="60">
                        <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
                          <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                        </agm-map>
                      </div>
                    
                    </div> -->
                    
             <!--        <div class="container" fxLayout="row" fxLayoutAlign="space-around center">

                      <div  fxFlex="40"
                    
                      class="autocomplete-container"
                    >
                    <mat-google-maps-autocomplete (onAutocompleteSelected)="onAutocompleteSelected($event)"
                    (onLocationSelected)="onLocationSelected($event)"
                    (onGermanAddressMapped)="onGermanAddressMapped($event)">
</mat-google-maps-autocomplete>
                  </div>

                  
                  <div  fxFlex="1">  </div>
                    <div  fxFlex="40"
                    
                    class="autocomplete-container"
                  >
                  <mat-google-maps-autocomplete (onAutocompleteSelected)="onAutocompleteSelected($event)"
                  (onLocationSelected)="onLocationSelected($event)"
                  (onGermanAddressMapped)="onGermanAddressMapped($event)">
</mat-google-maps-autocomplete>
                   
                  </div>
                </div> -->

                    <div class="container" fxLayout="column" fxLayoutAlign="center">

                      <div fxFlex fxFlexAlign="left"
                    
                      class="autocomplete-container"
                    >
                    <mat-google-maps-autocomplete (onAutocompleteSelected)="onAutocompleteSelected($event)"
                                                 (onLocationSelected)="onLocationSelected($event)"
                                                 (onGermanAddressMapped)="onGermanAddressMapped($event)">
                    </mat-google-maps-autocomplete>
                    </div>
                      <div fxFlex>
                        <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
                          <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                        </agm-map>
                      </div>
                    
                     
                    
                    </div>
             <div>
                          <button mat-button matStepperPrevious>Retour</button>
                          <button mat-button matStepperNext>Suivant</button>
                        </div>
                   
                    </mat-step>
  
                    <mat-step>
                      <ng-template matStepLabel>Terminé</ng-template>
                      <p>Vous avez terminé.</p>
                      <div>
                        <button mat-button matStepperPrevious>Retour</button>
                        <button mat-button (click)="addNewAnnonce()">Enregistrer</button>
                      </div>
                    </mat-step>

                </mat-horizontal-stepper>
       </div>
     </div>
   </div>
 </div> 


 <!--   <ng-template class="" #addAnnonce>

        <div class="row text-left taille">
            <div class="col-sm-12 ">
              <div class="card ">
                <div class="card-header">
                  <h4 class="card-title">Ajouter Annonce</h4>
                </div>
                <div class="card-content">
                  <div class="card-body">
                    <mat-horizontal-stepper [linear]="isLinear" #stepper>
          
                        <mat-step [stepControl]="firstFormGroup">
                            <form [formGroup]="firstFormGroup">
                              <ng-template matStepLabel></ng-template>
                              <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field>
                                    <mat-label>Titre</mat-label>
                                    <input matInput placeholder="Titre"  id="titre" formControlName="titre" 
                                     [ngClass]="{ 'is-invalid': submitted && addFormControls.titre.errors }"required >
                                  </mat-form-field>
                                  <div *ngIf="submitted && addFormControls.titre.errors" class="invalid-feedback">
                                    <div *ngIf="addFormControls.titre.errors.required">titre obligatoire</div>
                                  </div>
                                </div>
                             

                                <div class="col-md-1"></div>
                                <div class="col-md-1"></div>                             
                              </div>
                            
                              <div class="row">
          
        
                                <div class="col-md-3">
                                  <mat-form-field>
                                    <mat-label>Description</mat-label>
                                    <textarea matInput placeholder="Description"  [ngModelOptions]="{standalone: true}" [(ngModel)]="form.email"    #e="ngModel" required></textarea>
                                  </mat-form-field>
                                  <div *ngIf="e.invalid && e.touched">
                                    <mat-error *ngIf="e.errors.required">
                                      Usename is required
                                      </mat-error>
                                      <mat-error *ngIf="e.errors.pattern">
                                        Invalid Email
                                        </mat-error>
                                      </div>
                                </div>
                                <div class="col-md-1"></div>
           
                              </div>

                              <div class="row">
          
        
                                <div class="col-md-3">
                                  <mat-form-field>
                                    <mat-label>Superfecie</mat-label>
                                    <textarea matInput placeholder="Superfecie"  [ngModelOptions]="{standalone: true}" [(ngModel)]="form.email"    #e="ngModel" required></textarea>
                                  </mat-form-field>
                                  <div *ngIf="e.invalid && e.touched">
                                    <mat-error *ngIf="e.errors.required">
                                      Superfecie is required
                                      </mat-error>
                                      <mat-error *ngIf="e.errors.pattern">
                                        Invalid Email
                                        </mat-error>
                                      </div>
                                </div>



                                <div class="col-md-1"></div>
           
                              </div>


                                   <div class="row">
          
        
                                <div class="col-md-3">
                                  <mat-form-field>
                                    <mat-label>Prix</mat-label>
                                    <textarea matInput placeholder="Prix " type="number"[ngModelOptions]="{standalone: true}" [(ngModel)]="form.email"    #e="ngModel" required></textarea>
                                  </mat-form-field>
                                  <div *ngIf="e.invalid && e.touched">
                                    <mat-error *ngIf="e.errors.required">
                                      Superfecie is required
                                      </mat-error>
                                      <mat-error *ngIf="e.errors.pattern">
                                        Invalid Email
                                        </mat-error>
                                      </div>
                                </div>



                                <div class="col-md-1"></div>
           
                              </div>

                              <div>
                                <button mat-button matStepperNext>Suivant</button>
                              </div>
                            </form>
                          </mat-step>
                          <mat-step [stepControl]="secondFormGroup" label="Info Agence">
                            <form [formGroup]="secondFormGroup">
                             <div class="row">
         
                              <div class="col-md-3">
                                  <mat-form-field>
                                    <mat-label>Nom d'agence</mat-label>
                                    <input matInput placeholder="Nom d'agence" [ngModelOptions]="{standalone: true}" [(ngModel)]="form.nom_agence"  #nomag="ngModel" required>
                                  </mat-form-field>
                                  <div *ngIf="nomag.invalid && nomag.touched">
                                    <mat-error *ngIf="nomag.errors.required">
                                      Libellé is required
                                      </mat-error>
                                      </div>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-3">
                                  <mat-form-field>
                                    <mat-label>Type d'abonnement</mat-label>
                                   
                                    <mat-select  [(ngModel)]="form.type_abonnement" [ngModelOptions]="{standalone: true}"  #tp="ngModel"  name="type_abonnement" required>
                                      <mat-option *ngFor="let type_abonnement of abonnements" [value]="type_abonnement.value"   >
                                        {{type_abonnement.viewValue}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                  <div *ngIf="tp.invalid && tp.touched">
                                    <mat-error *ngIf="tp.errors.required">
                                      Type d'abonnement is required
                                      </mat-error>
                                      </div>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-3">
                                  <mat-form-field>
                                    <mat-label>Matricule Fiscale </mat-label>
                                    <input matInput placeholder="Matricule Fiscale" [ngModelOptions]="{standalone: true}" [(ngModel)]="form.matricule_fiscale"  #mat="ngModel" required>
                                  </mat-form-field>
                                  <div *ngIf="mat.invalid && mat.touched">
                                    <mat-error *ngIf="mat.errors.required">
                                      Matricule is required
                                      </mat-error>
                                      </div>
                                </div>
               
        
                             </div>
                       
                    
         
        
                              
                              <div>
                                <button mat-button matStepperPrevious>Retour</button>
                                <button mat-button matStepperNext>Suivant</button>
                              </div>
                            </form>
                          </mat-step>
                         <mat-step  label="Type de payement">
                        <div>
                          <mat-google-maps-autocomplete (onAutocompleteSelected)="onAutocompleteSelected($event)"
                          (onLocationSelected)="onLocationSelected($event)"
                          (onGermanAddressMapped)="onGermanAddressMapped($event)">
</mat-google-maps-autocomplete>
</div>  
         
        
                              
                              <div>
                                <button mat-button matStepperPrevious>Retour</button>
                                <button mat-button matStepperNext>Suivant</button>
                              </div>
                         
                          </mat-step>
        
                          <mat-step>
                            <ng-template matStepLabel>Terminé</ng-template>
                            <p>Vous avez terminé.</p>
                            <div>
                              <button mat-button matStepperPrevious>Retour</button>
                              <button mat-button (click)="onSubmit()">Enregistrer</button>
                            </div>
                          </mat-step>
 
                      </mat-horizontal-stepper>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
    
       
        
    </ng-template>  -->

  <!--   <ng-template #addAnnonce>

        <div class="row text-left">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Ajouter Annonce</h4>
                </div>
                <div class="card-content">
                  <div class="card-body">
                    <form [formGroup]="addForm" (ngSubmit)="addNewAnnonce()">
        
                      <div class="form-group">
                        <label for="titre">Titre</label>
        
                        <input type="titre" class="form-control" id="titre" formControlName="titre"
                          [ngClass]="{ 'is-invalid': submitted && addFormControls.titre.errors }"required />
                        <div *ngIf="submitted && addFormControls.titre.errors" class="invalid-feedback">
                          <div *ngIf="addFormControls.titre.errors.required">titre obligatoire</div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="description">Description</label>
        
                        <input type="description" class="form-control" id="description" formControlName="description"
                        [ngClass]="{ 'is-invalid': submitted && addFormControls.description.errors }" required/>
                        <div *ngIf="submitted && addFormControls.description.errors" class="invalid-feedback">
                          <div *ngIf="addFormControls.description.errors.required">description obligatoire</div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="superfecie">Superfecie</label>
        
                        <input type="number" class="form-control" id="superfecie" formControlName="superfecie"
                        [ngClass]="{ 'is-invalid': submitted && addFormControls.superfecie.errors }" required/>
                        <div *ngIf="submitted && addFormControls.superfecie.errors" class="invalid-feedback">
                          <div *ngIf="addFormControls.superfecie.errors.required">Superfecie obligatoire</div>
                        </div>
                      </div>
                   <div class="form-group dv">
                        <label for="prix">Prix</label>
        
                        <input type="text" class="form-control inp" id="prix" formControlName="prix"
                        [ngClass]="{ 'is-invalid': submitted && addFormControls.prix.errors }" required />DT
                        <div *ngIf="submitted && addFormControls.prix.errors" class="invalid-feedback">
                          <div *ngIf="addFormControls.prix.errors.required">Prix obligatoire</div>
                        </div>
                      
                      </div> 

                      <div  >
                        <label>Addresse</label>
                        <div   id="outer">
                        <div  class="inner">
                        <input  type="text" class='taille' placeholder="Ville" formControlName="ville" 
                        [ngClass]="{ 'is-invalid': submitted && addFormControls.ville.errors }" required/>
                        <div *ngIf="submitted && addFormControls.ville.errors" class="invalid-feedback">
                          <div *ngIf="addFormControls.ville.errors.required">Ville obligatoire</div>
                        </div>
                      </div>
                   &nbsp; &nbsp; 
                      <div  class="inner">
                        <input  type="text" class='taille' placeholder="Rue" formControlName="rue"                 
                        [ngClass]="{ 'is-invalid': submitted && addFormControls.rue.errors }" required/>
                        <div *ngIf="submitted && addFormControls.rue.errors" class="invalid-feedback">
                          <div *ngIf="addFormControls.rue.errors.required">Rue obligatoire</div>
                        </div>
                      </div>
                       &nbsp; &nbsp; 
                        <div  class="inner">
                          <input  type="number" class='taille'  placeholder="Code postal" formControlName="code_postal"                
                          [ngClass]="{ 'is-invalid': submitted && addFormControls.code_postal.errors }" required/>
                          <div *ngIf="submitted && addFormControls.code_postal.errors" class="invalid-feedback">
                            <div *ngIf="addFormControls.code_postal.errors.required">Code postal obligatoire</div>
                          </div>
                        </div>
                      </div>
                      </div>
                      &nbsp; &nbsp;
                      <div class="form-group">
                        <label>Nombre de chambres</label>
                        <div class="input-group">
                          <div class="custom-control custom-radio d-inline-block">
                            <input type="radio" id="1 piece" value="1 piece" class="custom-control-input" name="nbre_chambres"  formControlName="nbre_chambres" 
                            [ngClass]="{ 'is-invalid': submitted && addFormControls.nbre_chambres.errors }" required/>
                            <label class="custom-control-label" for="1 piece">1 pièce</label>&nbsp;&nbsp;
                          </div>
                          <div class="custom-control custom-radio d-inline-block">
                            <input type="radio" id="2 pieces" value="2 pieces" class="custom-control-input"  name="nbre_chambres" formControlName="nbre_chambres"
                            [ngClass]="{ 'is-invalid': submitted && addFormControls.nbre_chambres.errors }" required/>
                            <label class="custom-control-label" for="2 pieces">2 pièces</label>&nbsp;&nbsp;
                          </div>
                          <div class="custom-control custom-radio d-inline-block">
                            <input type="radio" id="3 pieces" value="3 pieces" checked  class="custom-control-input" name="nbre_chambres" formControlName="nbre_chambres"
                            [ngClass]="{ 'is-invalid': submitted && addFormControls.nbre_chambres.errors }" required/>
                            <label class="custom-control-label" for="3 pieces">3 pièces</label>
                          </div>
                        </div>
                   
                        <div *ngIf="submitted && addFormControls.nbre_chambres.errors" class="invalid-feedback">
                          <div *ngIf="addFormControls.nbre_chambres.errors.required">Nombre de chambres obligatoire</div>
                        </div>
                      </div>
                
                   
                      <div class="form-group">
                        <label>Salle de bains</label>
                        <div >
                          <div class="custom-control custom-radio custom-control-inline float-left">
                            <input type="radio"  id="1 pièce" value="1 pièce" class="custom-control-input" name="pieces_salleBain"  formControlName="pieces_salleBain" 
                            [ngClass]="{ 'is-invalid': submitted && addFormControls.pieces_salleBain.errors }" required/>
                            <label class="custom-control-label"  for="1 pièce">1 pièce</label>&nbsp;&nbsp;
                          </div>
                          <div class="custom-control custom-radio custom-control-inline  float-left">
                            <input type="radio"   id="2 pièces" value="2 pièces" class="custom-control-input"  name="pieces_salleBain" formControlName="pieces_salleBain"
                            [ngClass]="{ 'is-invalid': submitted && addFormControls.pieces_salleBain.errors }" required/>
                            <label class="custom-control-label" for="2 pièces">2 pièces</label>
                          </div>
                          <div *ngIf="submitted && addFormControls.pieces_salleBain.errors" class="invalid-feedback">
                            <div *ngIf="addFormControls.pieces_salleBain.errors.required">Salle de bains obligatoire</div>
                          </div>
                        </div>
                      </div>
                      &nbsp; &nbsp;
                      <div  >
                        <label>Commodités</label>
                        <div   id="outer">
                        <div  class="inner">
                        <input  type="checkbox"  value="climatisation" id="climatisation" name="climatisation" [(ngModel)]="climatisation" (change)="onChange(climatisation)" formControlName="climatisation"
                        [ngClass]="{ 'is-invalid': submitted && addFormControls.climatisation.errors }" required/>
                        <label class="form-check-label" for="climatisation">
                          Climatisation
                        </label>
                      </div>&nbsp; &nbsp; &nbsp;
                      <div  class="inner">
                        <input  type="checkbox" value="meuble" id="meuble" [(ngModel)]="meuble" (change)="onChange(meuble)" name="meuble" formControlName="meuble" checked   
                         [ngClass]="{ 'is-invalid': submitted && addFormControls.meuble.errors }" required/>
                        <label class="form-check-label" for="meuble">
                          Meuble
                        </label>
                        </div>&nbsp; &nbsp; &nbsp;
                        <div  class="inner">
                          <input  type="checkbox" value="ascenseur" id="ascenseur"  [(ngModel)]="ascenseur" (change)="onChange(ascenseur)" name="ascenseur" formControlName="ascenseur" 
                          [ngClass]="{ 'is-invalid': submitted && addFormControls.ascenseur.errors }" required/>
                          <label class="form-check-label" for="ascenseur">
                           Ascenseur
                          </label>
                          </div>&nbsp; &nbsp; &nbsp;
                          <div  class="inner">
                            <input  type="checkbox" value="jardin" id="jardin" [(ngModel)]="jardin" (change)="onChange(jardin)" name="jardin" formControlName="jardin"
                            [ngClass]="{ 'is-invalid': submitted && addFormControls.jardin.errors }" required/>
                            <label class="form-check-label" for="jardin">
                             Jardin
                            </label>
                            </div>
                        </div>
                        <div   id="outer">
                          <div  class="inner">
                          <input  type="checkbox"  value="chauffage" id="chauffage" [(ngModel)]="chauffage" (change)="onChange(chauffage)" name="chauffage" formControlName="chauffage"
                          [ngClass]="{ 'is-invalid': submitted && addFormControls.chauffage.errors }" required/>
                          <label class="form-check-label" for="chauffage">
                            Chauffage centrale 
                          </label>
                        </div>&nbsp; &nbsp; &nbsp;
                        <div  class="inner">
                          <input  type="checkbox" value="cuisine" id="cuisine" [(ngModel)]="cuisine" (change)="onChange(cuisine)" name="cuisine" formControlName="cuisine" 
                          [ngClass]="{ 'is-invalid': submitted && addFormControls.cuisine.errors }" required/>
                          <label class="form-check-label" for="cuisine">
                            Cuisine equipé
                          </label>
                          </div>&nbsp; &nbsp; &nbsp;
                          <div  class="inner">
                            <input  type="checkbox" value="parking" id="parking" [(ngModel)]="parking" (change)="onChange(parking)" name="parking" formControlName="parking" checked
                            [ngClass]="{ 'is-invalid': submitted && addFormControls.parking.errors }" required/>
                            <label class="form-check-label" for="parking">
                             Parking
                            </label>
                            </div>&nbsp; &nbsp; &nbsp;
                       
                          </div>
                      </div>
                      &nbsp; &nbsp;

                 
                   <div class="form-group">
                    <label>Catégorie</label>
                    <div>
                    <div >
                      <label class="btn-primary" >
                        <input type="radio"  id="appartement" (click)="getAppartementOptions()" value="appartement" name="categorie" formControlName="categorie"  
                        [ngClass]="{ 'is-invalid': submitted && addFormControls.categorie.errors }" required/> <b style="color: white;">Appartement</b>
                        
                      </label> &nbsp;&nbsp; &nbsp;
                      <label class="btn-primary" >
                        <input type="radio"   id="maison"  (click)="getMaisonOptions()" value="maison" name="categorie" formControlName="categorie"  
                        [ngClass]="{ 'is-invalid': submitted && addFormControls.categorie.errors }" required/> <b style="color: white;">Maison</b>
                      </label> &nbsp;&nbsp; &nbsp;
                      <label class="btn-primary" >
                        <input type="radio"  id="terrain"  (click)="getTerrainOptions()"   value="terrain"  name="categorie" formControlName="categorie"  
                        [ngClass]="{ 'is-invalid': submitted && addFormControls.categorie.errors }" required/> <b style="color: white;">Terrain</b>
                      </label>
                    </div>
                    <div *ngIf="submitted && addFormControls.categorie.errors" class="invalid-feedback">
                      <div *ngIf="addFormControls.categorie.errors.required">Catégorie obligatoire</div>
                    </div>
                  </div>
                  </div>
    
    
                    <div *ngIf="model.appartement==true" class="form-group">
                      <label for="etage">Etage</label>
      
                      <input type="number" class="form-control" id="etage" formControlName="etage"
                      [ngClass]="{ 'is-invalid': submitted && addFormControls.etage.errors }"/>
                      <div *ngIf="submitted && addFormControls.etage.errors" class="invalid-feedback">
                        <div *ngIf="addFormControls.etage.errors.required">Etage obligatoire</div>
                      </div>
                    </div>
                
    
                    <div *ngIf="model.terrain==true" class="form-group">
                      <label>Usage</label>
                      <div class="input-group">
                        <div class="custom-control custom-radio d-inline-block">
                          <input type="radio" id="habitation" value="habitation" checked name="usage" formControlName="usage" class="custom-control-input"
                          [ngClass]="{ 'is-invalid': submitted && addFormControls.usage.errors }" required/> 
                          <label class="custom-control-label" for="habitation">Habitation</label>&nbsp;&nbsp;
                        </div>
                        <div class="custom-control custom-radio d-inline-block">
                          <input type="radio" id="commercial" value="commercial" name="usage" formControlName="usage" class="custom-control-input"
                          [ngClass]="{ 'is-invalid': submitted && addFormControls.usage.errors }" required/> 
                          <label class="custom-control-label" for="commercial">Commercial</label>
                        </div>
                        <div *ngIf="submitted && addFormControls.usage.errors" class="invalid-feedback">
                          <div *ngIf="addFormControls.usage.errors.required">Usage obligatoire</div>
                        </div>
                      </div>
                    </div>
    
    
                    <div class="form-group">
                        <label for="images">images</label>
        
                        <input type="file" class="form-control" multiple id="file-input" formControlName="images"
                        (change)="recuperFile($event)" />
        
                    </div>
                      <div class="form-group text-right">
                        <button type="submit" class="btn btn-success btn-raised"  >Ajouter</button>&nbsp;&nbsp;
                        <button type="button" class="btn btn-danger btn-raised mr-1" (click)=" modalRef.hide()">Annuler</button>
        
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
    
       
        
    </ng-template> -->