<!-- <div >
   
    <h1>Angular Google Map with Search Box Example - ItSolutionStuff.com</h1>
    
    <div class="form-group">
      <label>Enter address</label>
      <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
    </div>
    <div class="map">
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
      <agm-polygon [paths]="paths" [clickable]="false">
      </agm-polygon>
      <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
        ></agm-marker>
    </agm-map>
    
  </div>  
    <h5>Address: {{address}}</h5>
    <div>Latitude: {{latitude}}</div>
    <div>Longitude: {{longitude}}</div>
    
  </div>
 -->
  <!-- <div class="my-google-map">
    <google-map [options]="mapOptions">
       <map-marker [position]="marker.position"></map-marker>
    </google-map>
 </div> -->
<!--   <div>
  <div class="form-group">
    <label>Enter address</label>
    <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
  </div>
<div #map id="map" ></div>  
</div> 
 -->
<!--  <header class="header">

  <div class="topbar bg-custom-blue">
      <div class="container">
          <div class="row">
              <div class="col-sm-6">
         
              </div>
              <div class="col-sm-6">
                  <div class="right-side">
                      <ul class="custom-flex">
              
                          <li>
                              <a   [routerLink]="['/login']"  class="text-custom-white">S'authentifier</a>
                          </li>
                          <li>
                              <a   [routerLink]="['/register']" class="text-custom-white">S'inscrire</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div></header> -->
 <h4><strong>Dessiner une zone sur la carte</strong></h4>

<!--   <div id="title">Autocomplete search</div>
  <div id="type-selector" class="pac-controls">
    <input
      type="radio"
      name="type"
      id="changetype-all"
      checked="checked"
    />
    <label for="changetype-all">All</label>

    <input type="radio" name="type" id="changetype-establishment" />
    <label for="changetype-establishment">Establishments</label>

    <input type="radio" name="type" id="changetype-address" />
    <label for="changetype-address">Addresses</label>

    <input type="radio" name="type" id="changetype-geocode" />
    <label for="changetype-geocode">Geocodes</label>
  </div>
  <br />
  <div id="strict-bounds-selector" class="pac-controls">
    <input type="checkbox" id="use-location-bias" value="" checked />
    <label for="use-location-bias">Bias to map viewport</label>

    <input type="checkbox" id="use-strict-bounds" value="" />
    <label for="use-strict-bounds">Strict bounds</label>
  </div>
</div>
<div id="pac-container">
  <input id="pac-input" type="text" placeholder="Enter a location" />
</div> -->

<!--     <div class="pac-card" id="pac-card">
     
      <div  id="type-selector" class="pac-controls">
        <p>Placez votre premier point sur la carte pour débuter un tracé</p>

      </div>
    </div> -->
    <div id="map"></div>


<!-- <app-customizerr clickbutt="clickbuttonEvent($event)"></app-customizerr> -->

 <!--    <div id="infowindow-content">
      <span id="place-name" class="title"></span><br />
      <span id="place-address"></span>
    </div> -->

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
   
    